* {
    --header-footer-color: #EFEFEF;
    --main-background-color: #DAF0EE;
}

body {

    background-color: var(--main-background-color);
    display: grid;

    padding: 0;
    margin: 0;
}

img {
    height: 48px;
    width:  48px;
}

header {
    background-color: var(--header-footer-color);
}

time {
    padding: 2px 32px;
    display: flex;
    justify-content: space-between;
    width: 150px;
}

#hourly-data,
#weekly-data,
#misc-data {
    border: 2px solid black;
    border-radius: 5px;
}

#main-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-data div {
    height: fit-content;
}

#city-name {
    margin-bottom: 0px;
}

#temperature-low-high,
#weather-description {
    margin-top: 0;
    font-size: 24px;
}

#city-name,
#temperature {
    font-size: 40px;
}

#hourly-data {
    margin: 8px 0px;
    justify-self: center;
    width: 90vw;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.hour-div {
    background-color: var(--main-background-color);
    padding: 4px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#weekly-data {
    justify-self: center;
    width: 90vw;
    margin: 8px;
    margin-bottom: 16px;
    
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}

.day-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.day-div p {
    text-align: center;
}

#misc-data {
    justify-self: center;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 150px);
}

#misc-data div {
    justify-self: center;
    align-self: center;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#misc-data div p {
    text-align: center;
}

#misc-data div:first-child {
    border-bottom: 2px solid black;
}

#misc-data div:nth-child(2) {
    border-left:  2px solid black;
    border-right:  2px solid black;
    border-bottom: 2px solid black;
}

#misc-data div:nth-child(3) {
    border-bottom: 2px solid black;
}

#misc-data div:nth-child(5) {
    border-right:  2px solid black;
    border-left:   2px solid black;
}

footer {
    background-color: var(--header-footer-color);
    position: sticky;
    top: 100;
    bottom: 0;

    padding: 0;
    margin: 0px;

    height: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button {
    border: none;
    background-color: none;
}
footer button img {

    fill:none;
    padding: 0;
    margin: 0;

    height: 32px;
    width:  32px;
}

footer button img:hover {
    opacity: 0.7;
}