* {
    --header-footer-color: #EFEFEF;
    --main-background-color: #DAF0EE;
}

body {

    background-color: var(--main-background-color);
    display: grid;

    padding: 0;
    margin: 0;
}

img {
    height: 48px;
    width:  48px;
}

header {
    background-color: var(--header-footer-color);
}

#hourly-data {
    background-color: black;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
}

.hour-div {
    background-color: var(--main-background-color);
    padding: 2px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#weekly-data {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}

.day-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.day-div p {
    text-align: center;
}

#misc-data {
    justify-self: center;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 1fr);
}

#misc-data div {
    margin: 16px;
    justify-self: center;
    align-self: center;
}

footer {
    background-color: var(--header-footer-color);
    position: sticky;
    top: 100;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer button {
    border: none;
    background-color: none;
}
footer button img {

    fill:none;
    padding: 0;
    margin: 0;
}

footer button img:hover {
    opacity: 0.7;
}